# --------------- Cấm truy cập từ tất cả các IP ---------------

# Deny from all
 
# --------------- Cấm truy cập từ một địa chỉ IP cụ thể ---------------

# Deny from 192.168.1.113 

# --------------- Cấm truy cập từ một dãy địa chỉ IP cụ thể ---------------

# Deny from 192.168.1

# --------------- Cho phép truy cập từ tất cả các IP ---------------

# Allow from all

# --------------- Cho phép truy cập từ tất cả các IP ngoại trừ IP 192.168.1.113 ---------------

# Allow from all
# Deny from 192.168.1.113

# --------------- Cho phép truy cập từ 1 dãy IP ngoại trừ IP 192.168.1.113 ---------------

# Allow from 192.168.1
# Deny from 192.168.1.113

# --------------- Order deny, allow ---------------

# --------------- Order allow, deny ---------------

