Options +FollowSymLinks
RewriteEngine On

# 01 RewriteRule PATTERN DESTINATION
# RewriteRule (.*)\.html 08/abc.html

# 02 Chuyển tất cả các yêu cầu html về trang info.php
# RewriteRule 08/(.*)\.html 08/info.php

# 03 Chuyển tất cả các yêu cầu html về trang php tương ứng
# RewriteRule ^08/(.*)\.html$ 08/$1\.php
# ErrorDocument 404 /htaccess/error/404.html

# 04 Chuyển đổi tất cả request về file index.php
# [L] Last rule: kí tự này ấn định rằng bước trước đã xong thì ngừng và không tiếp tục thực thi lệnh rewrite tiếp theo nữa.
# [N] Next: chỉ thị cho server tiếp tục rewrite cho đến khi tất cả các mục chỉ định được rewrite hoàn toàn.
# [NC] No-case: Chỉ định server math nhưng kí tự tương tự nhau (không phân biệt hoa thường)
# RewriteRule ^(.*)$ index.php [NC,L]

# 05 URL Friendly
# RewriteRule 09/dang-nhap.html	09/login.php

# 05 URL Friendly
RewriteRule 09/([A-Za-z_-]+)-([0-9]+)\.html		09/info.php?id=$2&name=$1

# 06 RewriteCond STRING CONDITION

# RewriteCond %{SERVER_PORT} 443 [OR]
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ index.php [NC,L]

# 07 -d -f -s
# -d Kiểm tra thư mục có tồn tại hay không?
# -f Kiểm tra file có tồn tại hay không
# -s Kiểm tra giá trị của file có khác 0 hay không?

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^.*$ index.php [NC,L]













