.print_r {
	display: block;
	background-color: #f6e8f0;
}

.list-quiz .page-header {
	border-bottom: 0px;
	text-align: center;
	color: #db3179;
}

.list-quiz .my-content {
	padding: 20px;
	border-radius: 10px;
	border: 2px solid #abc3ae;
	margin-bottom: 20px;
}

.list-quiz .my-content ol li{
	margin-bottom: 20px;
}

.list-quiz .my-content #myTabContent {
	margin-top: 30px;
}

.list-quiz .media{
	margin-bottom: 28px;
}

.list-quiz .media img{
	max-height: 100px;
	max-width: 140px;
}

.list-quiz .media-body .media-heading {
	margin-bottom: 15px;
	font-weight: bold;
}

.list-quiz .media-body {
	text-align: justify;
}

