# Redirecting non-www to www with .htaccess
# http://dense13.com/blog/2008/02/27/redirecting-non-www-to-www-with-htaccess/

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Redirecting www to non-www
# http://dense13.com/blog/2008/02/27/redirecting-non-www-to-www-with-htaccess/

RewriteEngine On
RewriteCond %{HTTP_HOST} !^my-domain\.com$ [NC]
RewriteRule ^(.*)$ http://my-domain.com/$1 [R=301,L]

