# http://alexcican.com/post/how-to-remove-php-html-htm-extensions-with-htaccess/


Options +FollowSymLinks

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


