html {
    font-family: sans-serif;
    font-size: 11pt;
}

.card {
    /* margin-left: 20%; */
    z-index: 99;
}

.map {
    position: absolute;
    top: 0;
    left: 0%;
    right: 146px;
    bottom: 0;
    z-index: 1;
}
#left-hide{
    outline: none;
    border-radius:50%;
    position: absolute;
    top: 80px;
    left: 0%;
    padding: 8px 10px;
    margin-left: 10px;
    z-index: 10;
    color: red;
    background-color: rgb(255, 221, 221);
}

#left-hide:hover{
    background-color: rgb(255, 191, 191);
}
.hide-show{
    display: none;
}
.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}
table {
            width: 100%;
            margin-top: 5px;
        }

        th, td {
            text-align: center;
            font-size: 14px;
        }
.list-school{
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    overflow-x: auto;
    text-align: center;
    font-size: 12px;
}

tr {
    border:  1px solid gray;
}

h2 {
    color:  blue;
    font-size: 20px !important;
}

div#left-control td {
    font-size: 13px !important;
    text-align:  left;
    padding-left: 26px;
}
.list-map{
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
    z-index: 99;
    background: #ebef07;
    text-align: center;
}

.list-map h4 {
    border-bottom: 1px solid;
    padding-bottom: 8px;
    background: #21d216;
    font-size: 19px;
}

.list-map li {
    text-align: left;
    margin-left: 5px;
}

.list-map li {
    padding: 5px;
    border-bottom: 1px solid;
}

.list-map li:hover {
    color: red;
}
.list-map ul{
 list-style: none;
 padding-left: 3px;
 color: blue;
 cursor: pointer;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
    padding: 7px;
}
.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    font-style: italic;
    overflow-x:  hidden;
}

.card {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    z-index: 9999999;
    left:  0;
    bottom: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header span {
    float: right;
    color: red;
    font-weight: bold;
    cursor: pointer;
}