.header {
	text-align:right;
	border-bottom: 2px solid #b4ecbe;
	padding: 8px;
}

.footer {
	text-align:center;
	border-top: 2px solid #b4ecbe;
	padding: 8px;

}

.course {
	margin: 50px 20px;
}

.course img{
		display: none;
}

.course h3{
	color: red;
	margin-left: 250px;
	margin-top: -130px;
}

.course p{
	margin-left: 250px;
}

body {
	/* background-image: linear-gradient(top, #c7cdde, #f0f2ff);*/
	/* background: url("../images/background.png") repeat !important; */
	/* background-color: #f0f2ff; */
}

