.controller {
    width: 25%;
}

.map {
    width: 60%;
}

.list-map {
    width: 15%;
    background: #ebef07;
    text-align: center;
    z-index: 9999;
    height: 100vh;
}


.leaflet-routing-geocoders {
    display: none;
}
.list-map h4 {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: -10px;
    margin-top: 0;
    background: #21d216;
    font-size: 19px;
}

.list-map li {
    text-align: left;
    margin-left: 5px;
}

.list-map li {
    padding: 5px;
    border-bottom: 1px solid;
    /* text-decoration: none; */
}

.list-map li:hover {
    color: red;
}
.list-map ul{
 list-style: none;
 padding-left: 3px;
 color: blue;
 cursor: pointer;
}

a {
    text-decoration: none;
}

.leaflet-routing-container.leaflet-bar.leaflet-control{
    display: none;
}