# Không cho phép view 
# Options -Indexes

# Cho phép view 
# Options +Indexes

# Không cho phép view tất cả các tập tin
# IndexIgnore *

# Không cho phép view tất cả các tập tin php
 IndexIgnore *.php *.jpg