.header{
    background: yellow;
}
.green{
    background: green;
    color: white;
    text-align: left;
}
table, td{
    border: 1px solid #0ca7e4;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
.point{
    background: red;
}
.show-ranking{
    position:fixed;
    left: 0;
    top: 0;
    background:white;
}
a{
    font-size: 13px !important;
}