html {
    font-family: sans-serif;
    font-size: 11pt;
}

* {
    font-size: 13px;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
#map {
    width: 100%;
    height: 100vh;
    z-index: 1;
}
#left-control {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 25%;
    height: 100vh;
    overflow-x: auto;
    border-right: #d5d5d5 solid thin;
    z-index: 1;
}#left-control h4{
    margin: 50px 30px 50px 30px;
     color: #0078A8;
 }
.list-map{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 15%;
    background: #ebef07;
    height: 100vh;
    overflow-x: auto;
    z-index: 1;
    float: right;
}
.hide-show{
    display: none;
}
button {
    border-radius: 100px;
    background-color: #e0e0e0;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 6px 8px;
    margin: 3px 2px;
    cursor: pointer;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
button:hover{
    background-color: #d5d5d5;
}
#left-hide{
    position: absolute;
    top: 80px;
    left: 0;
    padding: 8px 10px;
    margin-left: 10px;
    z-index: 10;
    color: red;
    background-color: rgb(255, 221, 221);
}
#left-hide:hover{
    background-color: rgb(255, 191, 191);
}

.nearest {
    cursor: pointer;
    color: #0078A8;
}

.nearest:hover {
    color: rgb(255, 0, 0);
}


table {
    width: 100%;
    margin-top: 5px;
}

th, td {
    text-align: center;
    font-size: 14px;
}

.leaflet-routing-geocoders {
    display: none;
}

.leaflet-routing-container.leaflet-bar.leaflet-control {
    display: none;
}
a{
    font-size: 13px !important;
}

.list-map{
    position: fixed;
    right: 0;
    top: 0;
    width: 146px;
    background: #ebef07;
    text-align: center;
}

.list-map h4 {
    border-bottom: 1px solid;
    padding-bottom: 8px;
    background: #21d216;
    font-size: 19px;
}

.list-map li {
    text-align: left;
    margin-left: 0px;
}

.list-map li {
    padding: 5px;
    border-bottom: 1px solid;
}

.list-map li:hover {
    color: red;
}
.list-map ul{
    list-style: none;
    padding-left: 3px;
    color: blue;
    cursor: pointer;
}
